html {
  height: 100%;
  body {
    height: 100%;
    #app {
      height: 100%;
    }
  }
}

//Custom Alerts
.custom-alert-danger {
  background: #dc3545;
  color: #ffffff;
  button {
    color: #ffffff;
  }
  button:hover {
    color: #007bff;
  }
}

.custom-success-danger {
  background: #28a745;
  color: #ffffff;
  button {
    color: #ffffff;
  }
  button:hover {
    color: #007bff;
  }
}

.button-pagination {
  border-radius: 100%;
  margin-left: 0.5 rem;
}

.footer-icon-facebook {
  font-size: 2.9rem;
  color: #fff;
  margin: 0 0.5rem;
}

.footer-icon-facebook:hover {
  font-size: 3rem;
}

.footer-icon-twitter {
  font-size: 2.9rem;
  color: #fff;
  margin: 0 0.5rem;
}

.footer-icon-twitter:hover {
  font-size: 3rem;
}

.footer-icon-instagram {
  font-size: 2.9rem;
  color: #fff;
  margin: 0 0.5rem;
}

.footer-icon-instagram:hover {
  font-size: 3rem;
}

.footer-link {
  font-size: 18px;
  color: #fff;
}

.footer-link:hover {
  font-size: 18px;
  color: #28a745;
}

.badge-disponibility {
  border-radius: 30px;
}

.text-black {
  color: #000;
}

.cursor-pointer {
  cursor: pointer;
}

/*
  Focus Button Navbar Toggler
*/

.button-collapse:focus {
  outline: 5px auto #007bff !important;
}

.mt-6 {
  margin-top: 4rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.mt-8{
  margin-top: 6rem !important;
}

.mt-9 {
  margin-top: 6.5rem !important;
}

.textarea-form-admin {
  max-height: 165px;
  min-height: 100px;
}

.border-circle {
  border-radius: 10px;
}

.bd-links {

  @include media-breakpoint-up(md) {
    @supports (position: sticky) {
      max-height: calc(100vh - 9rem);
      overflow-y: auto;
    }
  }

  // Override collapse behaviors
  @include media-breakpoint-up(md) {
    display: block !important;
  }
}

/*
 * Sidebar Admin Dashboard
 */
.dashboard {
  height: 100%;
  .container-fluid {
    height: 100%;
    .row {
      height: 100%;
    }

  }
}  

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

//Sidebar Collapse

.fade {
    @include transition($transition-fade);
  
    &:not(.show) {
      opacity: 0;
    }
}
  
.collapse {
    &:not(.show) {
      display: none;
    }
}
  
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    @include transition($transition-collapse);
}

//Transition

.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}